$gray: #565656;
$green: #B2FFA9;
$orange: #FF4A1C;
$darkO: #d62b00;
$brown: #81523F;
$darkBr: #3F2A2B;

@mixin bigHead {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

@mixin smallHead {
  font-family: 'Oswald' sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 100%;

  font-family:  'Source Sans Pro';

  background-color: $gray;
  color: $green;
}

h1, h2 {
  @include bigHead;
}

h3 {
  @include smallHead;
}

a {
  color: $orange;
  &:hover {
    color: $darkO;
  }
}

nav {
  margin: 50px 0;
}

section {
  margin-top: 50px;
}

article {
  background-color: $darkBr;
}

article h3 {
  text-align: center;
  text-transform: uppercase;

  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;

  color: $orange;
}

table {
  margin: 2%;
  padding-bottom: 2%;
}

tbody {
  background-color: $brown;
}

td {
  padding: 10px;
}

footer p {
  margin-top: 50px;
  padding-left: 15px;
}

.page-header {
  width: 100%;
  text-align: center;
}

.colored {
  color: $orange;
  text-transform: uppercase;
}

.navigation ul {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 0;

  list-style-type: none;
}

.navigation ul li a {
  display: inline-block;
  
  height: 30px;
  width: 75px;
  padding-top: 10px;

  text-align: center;
  text-decoration: none;
  font-weight: bold;
  
  &:hover {
    color: $darkO;
  }
}

main {
  margin: 0 5%;
}

.intro-text {
  text-align: center;
}

.links-article ul {
  list-style-type: square;
  li {
  padding: 5px;
    a {
      color: $green;
      text-decoration: none;
      &:hover {
        color: $orange;
      }
    }
  }
}


// Desktop styles
@media screen and (min-width: 900px) {
  h1 {
    font-size: 50px;
  }

  nav a {
    font-size: 24px;    
  }

  main {
    max-width: 50%;
    margin: auto;
  }

  .intro-text {
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 18px;
  }

  table {
    width: 90%;
    margin: auto;
  }
}